# Files for Git to ignore.

# Copyright 2019 Mauro Aranda

# This file is part of ctune.

# ctune is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.

# ctune is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.

# You should have received a copy of the GNU General Public License
# along with ctune.  If not, see <https://www.gnu.org/licenses/>.

# Logs and temp.
*.log
*.tmp

# Junk
*~
.#*
\#*\#

# Compiled ELisp
*.elc

# Docs
*.info

# Distribution
*.tar*
